<ng-template #content let-modal>
    <div class="abrir-modal animacion fadeIn">
        <div class="modal" tabindex="-1" style="display:block;">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title"> {{ titulo }}</h4>
                  <button type="button" #closebtn class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')" ></button>
                </div>
                <div class="modal-body">
                  <div class="container" style="font-weight:bold">
                    <form [formGroup]="proyecForm" (ngSubmit)="onAction()"  novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="nombreProyec">Nombre del proyecto</label>
                            <input type="text" class="form-control" name="nombreProyec" formControlName="nombreProyec">
                        </div>
                        <div class="form-group">
                            <label for="descripcionProyec">Descripción</label>
                            <input type="text" class="form-control" name="descripcionProyec" formControlName="descripcionProyec">
                        </div>
                        <div class="form-group">
                            <label for="fecha">Fecha de realización</label>
                            <input type="date" class="form-control" name="fecha" formControlName="fecha">
                        </div>
                        <div class="form-group">
                            <label for="linkProyec">Link del proyecto</label>
                            <input type="text" class="form-control" name="linkProyec" formControlName="linkProyec">
                        </div>
                        <div class="modal-footer">
                        <button [disabled]="proyecForm.invalid" type="submit" class="btn btn-primary">
                            {{ btnModal }}
                        </button>
                    </div>
                    </form>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    </ng-template>
    <button class="btn btn-dark" #popupbtn id="popupbtn" type="button" (click)="open()" *ngIf="isLogged">
        Nueva Experiencia
      </button>
    