.row{
    background-color:#90bff5e1;
    padding: 20px;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

td, tr{

    border-style: none; 
    box-shadow: none;
 }