<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/html5Logo.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="55"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/CSSLogo.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/jsLogo.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/gitLogo.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-5 col-lg-4">
    <circle-progress
      [percent]="75"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="'../assets/grupal.png'"
      [showImage]="true"
      [imageHeight]="60"
      [imageWidth]="60"
      [title]="'HTML'"
      [titleFontSize]="'1em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
