<div class="row">
  <div id="social" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a href="www.linkedin.com/in/esteban-gallar-68503414a">
      <img src="../../../assets/linkedinLogo.png" id="linkedin" />
    </a>
    <a href="">
      <img src="../../../assets/instagramLogo.png" id="instagram" />
    </a>
    <a href="">
      <img src="../../../assets/facebookLogo.png" id="facebook" />
    </a>
    <a href="">
      <img src="../../../assets/githubLogo.png" id="github" />
    </a>
    <a href="">
      <img src="../../../assets/twitterLogo.png" id="twitter" />
    </a>
    <button type="button" class="btn btn-outline-light">INGRESO</button>
  </div>
</div>
