<div class="row">
  <div id="social" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a href="http://www.linkedin.com/in/esteban-gallar-68503414a" target="_blank">
      <img src="../../../assets/linkedinLogo.png" id="linkedin" />
    </a>
    <a href="https://www.instagram.com/estebankt89/" target="_blank">
      <img src="../../../assets/instagramLogo.png" id="instagram" />
    </a>
    <a href="https://www.facebook.com/EstebanKT" target="_blank">
      <img src="../../../assets/facebookLogo.png" id="facebook" />
    </a>
    <a href="https://github.com/EstebanKT89" target="_blank">
      <img src="../../../assets/githubLogo.png" id="github" />
    </a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESIÓN</button>
  </div>
</div>
