

div{
    background-color: #90bff5e1;
    text-align: center;
}

/* Etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 15%;
    margin-left: 10px;
}

/*Estilo de la foto de perfil*/
 @media (min-width: 576px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
    .descripcion{
        justify-content: center;
        align-items: center;
    }
 }
 @media (max-width: 575px){
    #fotoDePerfil{
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 450px;
    }
 }